.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  background-image: url("../src/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.welcomeCard{
  opacity: 0.8;
  color: #525252;
  justify-content: center;
  width: 15%;
  display: flexbox;
}